@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
}

.header {
  padding: 30px 40px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 2px #bbb;
  position: fixed;
  width: 100vw;
  z-index: 2;
  background-color: #fff;
}

.header .logo {
  height: 30px;
}

.header #companyName {
  font-size: 30px;
  margin-left: 5px;
  font-weight: 700;
}

.header .searchIcon {
  position: absolute;
  right: 120px;
  color: rgba(187, 187, 187, 0.85);
}

.header .memberIcon {
  position: absolute;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: brown;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .memberIcon .memberAlpha {
  font-size: 25px;
  color: rgba(238, 238, 238, 0.7);
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 40px 0;
  position: relative;
  z-index: 1;
}

.filter .tag {
  white-space: nowrap;
  margin: 15px 5px 20px 10px;
  padding: 10px 20px;
  background-color: rgba(221, 221, 221, 0.4);
  border-radius: 20px;
  font-weight: 500;
}

.filter .all {
  background-color: #666;
  color: #eee;
}

.content {
  padding: 0 50px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 1;
}

.content .video {
  margin: 0 20px 30px 10px;
  width: 420px;
}

.content .video .videoPic {
  width: 420px;
}

.content .video .info {
  display: flex;
  position: relative;
  margin-top: 7px;
}

.content .video .info .channelLogo {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.content .video .info .infoText {
  word-wrap: break-word;
}

.content .video .info .infoText .videoTitle {
  width: 315px;
  font-weight: 800;
  font-size: 18px;
  word-spacing: 2px;
  margin: 2px 0 5px;
}

.content .video .info .infoText .infoDetail {
  width: 315px;
  font-size: 15px;
  color: rgba(102, 102, 102, 0.8);
}

.content .video .info .ellipsisIcon {
  position: absolute;
  color: rgba(102, 102, 102, 0.8);
  top: 10px;
  right: 10px;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 2;
  background-color: #fff;
  bottom: 0;
  padding: 15px 0 10px;
}

.toolbar .tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar .tool .toolText {
  margin-top: 5px;
  font-weight: 700;
}

.toolbar .tool .other {
  color: rgba(102, 102, 102, 0.5);
}
